body {
    margin: 0;
    font-family: 'UniNeueBook';
    font-size: 16px;
    line-height: 1.3;
    color: #282728;
    max-width: 100vw;
    background: #fff url("../assets/imgs/main-bg.jpg") center no-repeat;
    background-size: cover;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


/* HEADER */

.container {
    width: 80vw;
    margin: 0 auto;
}

.main-header {
    margin-top: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-logo {
    cursor: pointer;
}

.header-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 2vw;
    width: 80vw;
}

.header-info_adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: .3vw;
    -moz-column-gap: .3vw;
    column-gap: .3vw;
    width: 13vw;
}

.main-info_consult:hover {
    background: #fff;
    color: #313d4b;
    border: 1px solid #313d4b;
}

.animated-button {
    border-radius: 5px;
    border: none;
    font-family: 'UniNeueBold';
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.main-info_consult {
    width: 245px;
    height: 70px;
    background: #313d4b;
}

.phone {
    background: url("assets/imgs/phone.png") left no-repeat;
    padding-left: 25px;
    font-family: 'UniNeueHeavy';
    color: #000;
    text-decoration: none;
}

.socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.socials-btn {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 5px 5px 0;
    border-radius: 50%;
}

.socials-btn:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.viber {
    background: #7460f3;
}

.viber img {
    display: block;
    position: absolute;
    top: 32%;
    left: 32%;
}

.telegram {
    background: #00a2f2;
}

.telegram img {
    display: block;
    position: absolute;
    top: 34%;
    left: 28%;
}

.whatsapp {
    background: #25d266;
}

.whatsapp img {
    display: block;
    position: absolute;
    top: 32%;
    left: 28%;
}

.nav-button {
    display: none;
}

.nav-button-item {
    width: 30px;
    height: 3px;
    margin: 5px;
    background: #313d4b;
}


/* NAV */

.header-nav {
    width: 80vw;
    margin: 2vw 0;
}

.header-nav_list {
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-nav_list-item {
    text-transform: uppercase;
    font-family: 'UniNeueBold';
    cursor: pointer;
}

.header-nav_list-item:hover {
    text-decoration: underline;
}


/* MODAL MAP */

.modal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.modal.active {
    display: block;
}

.modal-inner {
    position: relative;
    z-index: 10;
}

.pop-up {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
}

.yandex-map {
    position: fixed;
    bottom: 40%;
    left: 35%;
    width: 500px;
    /* height: 500px; */
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 43px;
    height: 39px;
    background: #7FAFF6;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
}

.main-info {
    font-family: 'UniNeueHeavy';
}


/* MAIN */

.main-information {
    width: 43vw;
}

.main-information_header {
    font-size: 55px;
    margin: 4vw 0;
}

.main-information_header-main {
    font-family: 'UniNeueBold';
}

.main-information_header-minor {
    font-family: 'UniNeueLight';
}

.main-information_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.information {
    position: relative;
    width: 10vw;
    padding-left: 1vw;
}

.info-01 {
    padding-left: 4vw;
    width: 14vw;
}

.info-dash {
    position: absolute;
    top: -5px;
    left: -10px;
    z-index: 1;
    width: 20px;
    height: 5px;
    background: #fe5851;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.info-01 .info-dash {
    position: absolute;
    top: -5px;
    left: -20px;
}

.info-year {
    position: absolute;
    top: -17px;
    left: 0;
    font-family: 'UniNeueHeavy';
    font-size: 72px;
}

.main-price-and-license {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin: 5vw 0;
}

.main-price-calculate {
    width: 22vw;
    font-family: 'UniNeueRegular';
    line-height: 1.7;
    font-size: 18px;
}

.main-price-calculate p {
    margin: 1vw;
}

.main-price-calculate_discount {
    background-color: #fff;
    border-radius: 3px;
    padding: 3px;
    font-family: 'UniNeueBold';
}

.calculate-button {
    width: 22vw;
    height: 5vw;
    padding-left: 90px;
    padding-right: 30px;
    border-bottom: 5px solid #e83e3d;
    background-image: url("/assets/imgs/calc-btn.png"), -webkit-gradient(linear, left bottom, left top, from(#fe5b55), to(#fe7d55));
    background-image: url("/assets/imgs/calc-btn.png"), -o-linear-gradient(bottom, #fe5b55, #fe7d55);
    background-image: url("assets/imgs/calc-btn.png"), linear-gradient(to top, #fe5b55, #fe7d55);
    background-repeat: no-repeat;
    background-position: 10% 48%;
    font-size: 16px;
    text-transform: uppercase;
    -moz-text-align-last: left;
    text-align-last: left;
}

.main-info_consult::after,
.calculate-button::after {
    content: "";
    display: block;
    width: 30px;
    height: 300px;
    margin-left: 50px;
    background: #fff;
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), color-stop(50%, rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0.5)));
    background: -o-linear-gradient( top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.5) 100%);
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.5) 100%);
    left: -40px;
    top: -100px;
    z-index: 1;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    -webkit-animation: move 3s ease-in-out 0.05s infinite;
    animation: move 3s ease-in-out 0.05s infinite;
}

.main-license {
    width: 20vw;
}

.main-license_header {
    text-align: center;
    margin-bottom: 1vw;
}

.main-license_header {
    font-family: 'UniNeueBold';
}

.main-license-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.left-arrow,
.right-arrow {
    cursor: pointer;
}

.license-img {
    cursor: pointer;
}

.license-img.active {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    cursor: pointer;
}

@-webkit-keyframes move {
    0% {
        left: -30px;
        margin-left: 0px;
    }
    30% {
        left: 110%;
        margin-left: 80px;
    }
    100% {
        left: 110%;
        margin-left: 80px;
    }
}

@media (max-width: 1500px) {
    .main-header {
        row-gap: 2vw;
    }
    .header-info_adress {
        width: 16vw;
    }
    .yandex-map {
        left: 30%;
    }
    .info-year {
        font-size: 55px;
        top: -10px;
    }
    .main-price-and-license {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        row-gap: 5vw;
    }
    .main-price-calculate {
        width: 40vw;
    }
    .calculate-button {
        width: 30vw;
        height: 7vw;
    }
    .main-license {
        width: 40vw;
    }
}

@media (max-width: 1300px) {
    body {
        background-position: 50% 35%;
        background-size: contain;
    }
    .header-info {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-column-gap: 10vw;
        -moz-column-gap: 10vw;
        column-gap: 10vw;
        row-gap: 3vw;
        width: 60vw;
    }
    .header-info_adress {
        width: 18vw;
    }
    .header-nav {
        width: 50vw;
    }
    .header-nav_list {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .header-nav_list-item {
        width: 11vw;
        margin: 1vw;
    }
    .main-information_header {
        font-size: 45px;
        text-align: center;
        margin: 7vw 0;
    }
    .info-year {
        font-size: 45px;
        top: -6px;
    }
    .main-price-and-license {
        width: 80vw;
    }
}

@media (max-width: 992px) {
    body {
        background-position: 0% 36%;
    }
    .container {
        width: 90%;
    }
    .header-container {
        position: relative;
    }
    .header-info {
        -webkit-column-gap: 5vw;
        -moz-column-gap: 5vw;
        column-gap: 5vw;
    }
    .header-info_adress {
        width: 25vw;
    }
    .yandex-map {
        left: 22%;
    }
    .header-nav {
        display: none;
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 57px;
        z-index: 2;
    }
    .header-nav.active {
        display: block;
    }
    .header-nav_list {
        display: block;
        width: 330px;
        padding: 1px 0;
        background: rgb(218, 214, 214);
    }
    .header-nav_list-item {
        width: 100%;
        margin: 50px;
    }
    .nav-button {
        display: block;
        position: absolute;
        top: 125px;
        left: 8px;
    }
    .nav-button.active .item-01 {
        position: absolute;
        top: 8px;
        left: -5px;
        width: 36px;
        -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
    .nav-button.active .item-04 {
        position: absolute;
        top: 8px;
        left: -5px;
        width: 36px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .nav-button.active .item-02,
    .nav-button.active .item-03 {
        display: none;
    }
    .main-information_header {
        font-size: 40px;
        margin: 17vw 0;
    }
    .main-information_info {
        width: 70vw;
    }
    .information {
        width: 350px;
        padding-left: 20px;
        margin: 30px;
    }
    .info-01 {
        padding-left: 55px;
        width: 300px;
    }
    .calculate-button {
        padding-left: 70px;
        font-size: 11px;
    }
}

@media (max-width: 720px) {
    .main-header {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly
    }
    .header-logo img {
        max-width: 100px;
    }
    .header-info {
        width: 77%;
    }
    .main-price-calculate {
        font-size: 16px;
    }
    .yandex-map {
        left: 10%;
    }
}